.content-block {
    min-height: 15vh;
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg);
    gap: var(--space-md);
}

.content-block img {
    max-height: 100%;
    width: 100%;
    border-radius: var(--radius-lg);
}